/* You can add global styles to this file, and also import other style files */
$shadow: 'Shadows Into Light', cursive;

.footer
{
    position: absolute;
    margin-bottom: 20px;
    text-align: center;
    bottom: 0;
    color: #777777;
    
    .author
    {
        color: #0161f1;
        // font-family: $shadow;
    }
    
    .fa-heart
    {
        color: #FF0000;
    }
}


.right-align
{
    float: right;
}